.dashboard {
    display: flex;
    flex-direction: row;
}

.track {
    min-width: 10rem;
    min-height: 10rem;
    background-color: aliceblue;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    cursor: grab;
}
